<header>
    <div class="encabezado">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo">
            </div>
        <div class="search">
            <input class="barra-busqueda" type="search" name="busqueda" placeholder="Buscar productos, marcas">  
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="cuotas"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito </div>
    </div>
    
    <div class="nav-bar">
        <ul class="nav">
            <li> <a href="./"> Ofertas </a></li>
            <li> <a href="./"> Tiendas Oficiales </a></li>
            <li> <a href="./"> Vender </a></li>
            <li> <a href="./"> Ayuda </a></li>
        </ul>
        <ul class ="cuenta">
            <li> <a href="/register"> Creá tu cuenta</a> <i class="fa-solid fa-id-card"></i></li>
            <li> <a href="/login"> Ingresá</a> <i class="fa-solid fa-arrow-right-from-bracket"></i></li> 
            <li> <a href="./"> Mis compras</a> <i class="fa-solid fa-basket-shopping"></i> </li>
        </ul>
    </div>

    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
    <br>
</header>